	<div class="main-agile">
		<!-- banner -->
		<div class="agile-top" style="position: fixed; padding-top: 0; margin-top: 0; background-image: url('/assets/menu.jpg'); ">
			<div class="col-xs-4 logo">
				<h1>
					<a href="index.html">
						<span>Eco</span>rum
						<span><img style="width: 20%; height: 20%;" src="/assets/logo.png"></span></a>
				</h1>
			</div>
			<div class="col-xs-2 menu">
				<a href="" id="menuToggle">
					<span class="navClosed"></span>
				</a>
				<nav>

					<a href="/main">Eventos</a>
					<a href="/perfil">Perfil</a>
					<a href="/calendario" class="scroll">Calendario</a>
					<a href="/mapa" class="scroll">Mapa</a>
					<% case @tipo.nombre %>
					<% when "institucion" %>
						<a href="/institucion/comprobacion">Agregar Comprobación</a>
					<% when "organizacion" %>
						<a href="/organizacion/evento">Agregar Evento</a>
					<% when "administrador" %>
						<a href="/organizacion/evento">Agregar Evento</a>
						<a href="#" data-toggle="modal" data-target="#myModal1">Agregar Usuario</a>
						<a href="/administrador/usuarios">ver Usuarios</a>
						<a href="/administrador/comprobacion">Ver Comprobaciones</a>
					<% end %>
					<a href="/">Cerrar Sesión</a>

				</nav>
			</div>

		</div>
	</div>

		<!--Expertos-->
	<div class="what-w3ls">
		<div class="container">
			<div class="title-div" style="margin-top: 55px;">
				<h3 class="tittle">
					<span>U</span>suarios
				</h3>
				<div class="tittle-style">
				</div>
				<form class="form-inline">
  					<div class="form-group mx-sm-3 mb-2">
    					<input type="text" class="form-control" id="buscador" placeholder="Nombre o Correo">
  					</div>
  					<button type="button" class="btn btn-primary mb-2" onclick="buscar()" style="background:#56d25b;">Buscar</button>
				</form>
			</div>
			<div class="what-grids">
				<div class="what-grid1" id="listausuarios">

					<% @usuarios.each do |usuario| %>

					<div class="what-top1">
						<div style="width: 10%;" class="what-left">
							<img style="width: 75px; border-radius: 50%;" src="/assets/logo.png">
						</div>
						<div style="width: 40%;" class="what-right">
							<a id="user-<%= usuario.id%>" onclick="borrarUsuario(<%= usuario.id%>)"><i style="background-color: #ff4f81" class="fas fa-trash-alt" aria-hidden="true"></i></a>
						</div>
						<div style="width: 50%;" class="what-right">
							<h4><%= usuario.nombre %></h4>
							<p><%= usuario.correo %></p>
						</div>
						<div class="clearfix"></div>
					</div>
					<% end %>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>


			<!--Esta parte es obligatoria tenerla-->
		<% if @tipo.nombre == "administrador" %>
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Registrate</h3>
						<p>
							únete a nuestra comunidad
						</p>
						<form>
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="Nombre" name="name" id="namereg" required="">
							</div>
							<div class="styled-input">
								<input type="email" placeholder="Correo" name="email" id="emailreg" required="">
							</div>
							<div class="styled-input">
								<input type="password" placeholder="Contraseña" name="password" id="password1" required="">
							</div>
							<div class="styled-input">
								<input type="password" placeholder="Confirmar Contraseña" name="password2" id="password2" required="">
							</div>
							<div class="radio">
      							<label><input type="radio" class="messageCheckbox" name="optradio" value="administrador" checked>Administrador</label>
    						</div>
    						<div class="radio">
      							<label><input type="radio" class="messageCheckbox" name="optradio" value="institucion">Institución</label>
    						</div>
    						<div class="radio">
      							<label><input type="radio" class="messageCheckbox" name="optradio" value="organizacion">Organización</label>
    						</div>
    						<div class="radio">
      							<label><input type="radio" class="messageCheckbox" name="optradio" value="normal">Normal</label>
    						</div>
    						<input type="hidden"  name="mysubmit" id="mysubmit" value="registroAdmin">
							<input type="button" onclick="registrar()" value="Registrar">
							<p style="color: #f00;" id="mypreg"></p>
						</form>
						<p>
							<a href="#">Acepto los términos y condiciones</a>
						</p>
					</div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>
	</div>
	<% end %>
	<!---->









<!-- jquery -->
	<script src="/assets/jquery-2.1.4.min.js"></script>
	<!-- //jquery -->

	<script src="/assets/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<script src="/assets/index.js"></script>

		<!--  light box js -->
	<script src="/assets/lightbox-plus-jquery.min.js"></script>
	<!-- //light box js-->

	<!-- navigation -->
	<script>
				$('#menuToggle').click(function (e) {
					var $parent = $(this).parent('.menu');
					$parent.toggleClass("open");
					var navState = $parent.hasClass('open') ? "hide" : "show";
					$(this).attr("title", navState + " navigation");
					// Set the timeout to the animation length in the CSS.
					setTimeout(function () {
						console.log("timeout set");
						$('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
					}, 200);
					e.preventDefault();
				});
	</script>
	<!-- //navigation -->

	<script>
		$(document).ready(function(){
  		$('.dropdown-submenu a.test').on("click", function(e){
    	$(this).next('ul').toggle();
    		e.stopPropagation();
    		e.preventDefault();
  		});
		});
	</script>
