

	<div class="main-agile">
		<!-- banner -->
		<div class="agile-top" style="padding-top: 0; margin-top: 0; background-image: url('/assets/menu.jpg'); ">
			<div class="col-xs-4 logo">
				<h1>
					<a href="index.html">
						<span>Eco</span>rum
						<span><img style="width: 20%; height: 20%;" src="/assets/logo.png"></span></a>
				</h1>
			</div>
			<div class="col-xs-2 menu">
				<a href="" id="menuToggle">
					<span class="navClosed"></span>
				</a>
				<nav>
					<a href="/main">Eventos</a>
					<a href="/perfil">Perfil</a>
					<a href="/calendario" class="scroll">Calendario</a>
					<a href="/mapa" class="scroll">Mapa</a>
					<% case @tipo.nombre %>
					<% when "institucion" %>
						<a href="/institucion/comprobacion">Agregar Comprobación</a>
					<% when "organizacion" %>
						<a href="/organizacion/evento">Agregar Evento</a>
					<% when "administrador" %>
						<a href="/organizacion/evento">Agregar Evento</a>
						<a href="#" data-toggle="modal" data-target="#myModal1">Agregar Usuario</a>
						<a href="/administrador/usuarios">ver Usuarios</a>
						<a href="/administrador/comprobacion">Ver Comprobaciones</a>
					<% end %>
					<a href="/">Cerrar Sesión</a>
				</nav>
			</div>

		</div>
	</div>

  <br><br><br><br>
  	<h1 style="color:#56D25B;">&nbsp &nbsp Enviar Comprobaciones</h1>
  	<br>
  	<p> &nbsp &nbsp Acá podrás enviar la evidencia si fuiste parte de un evento, uno de nuestros administradores comprobará el material enviado, ¡quedate atento al resultado! </p>
  	<div class="diva">
    <form action="comprobacion"  method="POST" id="compr_form">
    	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <label for="fevento">Evento al que asistí</label>
      <select id="fevento" name="fevento">
        <% @eventos_past.each do |evento| %>
        <option value="<%= evento.id %>"><%= evento.nombre + " - " + evento.ubicacion + " - " +  evento.fechaHora.strftime("%d-%m-%Y    %l:%M %p")   %></option>
        <% end %>

      </select>
  	<br><br>

  	<label for="fexp">¡Contanos la experiencia!</label><br>
      <textarea name="comment" form="compr_form">¿Cómo estuvo el evento?</textarea>


      <input type="submit" value="Adjuntar evidencia">
    </form>
  </div>



	<!--Esta parte es obligatoria tenerla-->
	<% if @tipo.nombre == "administrador" %>
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
	<% end %>
	<!---->









<!-- jquery -->
	<script src="/assets/jquery-2.1.4.min.js"></script>
	<!-- //jquery -->

	<script src="/assets/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<script src="/assets/filtro.js"></script>

		<!--  light box js -->
	<script src="/assets/lightbox-plus-jquery.min.js"></script>
	<!-- //light box js-->

	<!-- navigation -->
	<script>
				$('#menuToggle').click(function (e) {
					var $parent = $(this).parent('.menu');
					$parent.toggleClass("open");
					var navState = $parent.hasClass('open') ? "hide" : "show";
					$(this).attr("title", navState + " navigation");
					// Set the timeout to the animation length in the CSS.
					setTimeout(function () {
						console.log("timeout set");
						$('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
					}, 200);
					e.preventDefault();
				});
	</script>
	<!-- //navigation -->

	<script>
		$(document).ready(function(){
  		$('.dropdown-submenu a.test').on("click", function(e){
    	$(this).next('ul').toggle();
    		e.stopPropagation();
    		e.preventDefault();
  		});
		});
	</script>

  <script src="/assets/newevento.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzz7EeKHpMa9HmoJukP9B1pRJ6TS2QM1U&callback=initMap"
  async defer></script>
